@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mitr:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&display=swap');


h1{
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

body{
    background-color: #CBDCEB;
}

p{
    font-family: "Raleway", sans-serif;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: flex-start; 

}
#logo{
    width: 8rem;
    border-radius: 50%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

}

#lupa{
    width: 1rem;
    height: 1rem;


}

.pesquisar{
    width: 4%;
    height: 4vh;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 1rem;
    background-color: transparent;
}

#buscar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

#buscador {
    width: 50%;
    height: 4vh;
    outline: 0;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 2rem;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3E0;
}

.login{
    justify-items: center;
    align-items: center;
    background-color: #CBDCEB;  
    border: 2px black solid;
    height: 20vh;
}



button{
    width: 100%;
    background-color: #608BC1;
    color: #ffff;
    margin: 1rem;
}

form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form > label, form > input, form > a{
    margin: 0.2rem;
}

section{
    width: 100%;
    height: 30%;
}

.cadastro{
    justify-items: center;
    align-items: center;
    background-color: #CBDCEB;
}

.esqueceu_senha{
    justify-items: center;
    align-items: center;
    background-color: #CBDCEB;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.feedback{
    display: flex;

}

.menu_suspenso{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;

}

a{
    font-family: "Merriweather", serif;
    text-decoration: none;
	color:#608BC1;
    font-size: 1.5rem;
}


.li{
    display: inline;
    margin-right: 10px;
    padding: 30px;
}

#buscar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;

}

.auxiliar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto{
    padding: 10%;
    margin-left: 2%;
    margin-right: 30%;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;

}

.feedback{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.titulo-feedback h1{
    float: left;
}

.conteudo-feedback {
    display: flex;
    padding: 1rem;
}

.buscar{
    width: 50%;

}

.principal {
    width: 100%;
    height: 80vh;
    display: flex;
}

.imagem_tela_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;

}

a:hover{
    color: #fa1d1d;
}

.imagem_tela_principal img {
    width: 65%;
    height: 100%;
}

.secundaria {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.texto-secundaria, .servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.texto-secundaria {
    height: 30%;
    font-size: 1.5rem;
    
    
}

.texto-secundaria p {
    font-family: "Signika Negative", sans-serif;
    text-align: justify;
}

.servicos {
    height: 60%;
}

footer{	
    display: flex;
    min-height:50px;
    margin-top:auto; 
    color: rgb(255, 255, 255);
    background:#608BC1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titulo_info{
    background-color: #608BC1;
}

.imglogin{
    width: 8rem;
    border-radius: 50%;
}

