/* Estilo para o título principal (h1) */
h1 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

/* Estilo para o corpo da página */
body {
    background-color: #CBDCEB;
}

/* Estilo para o parágrafo de texto */
p {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* Resetando margens e preenchimentos de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para imagens */
.imagem_tela_principal img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Estilo específico para o logo */
#logo {
    width: 8rem;
    border-radius: 50%;
}

/* Estilo para o cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para a lupa (ícone de pesquisa) */
#lupa {
    width: 1rem;
    height: 1rem;
}

/* Classe de botão de pesquisa */
.pesquisar {
    width: 4%;
    height: 4vh;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 1rem;
    background-color: transparent;
}

/* Container para a barra de pesquisa */
#buscar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Estilo para o campo de input de pesquisa */
#buscador {
    width: 50%;
    height: 4vh;
    outline: 0;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 2rem;
}

/* Container principal que envolve a tela inteira */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #133E67;
}

/* Estilo para o formulário de login */
.login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBDCEB;
    border: 1px black solid;
    height: 22vh;
}

/* Estilo para os botões */
button {
    width: 100%;
    background-color: #608BC1;
    color: #ffff;
    margin: 1rem;
}

/* Estilo para os formulários em geral */
form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilo para os campos dentro do formulário */
form>label,
form>input,
form>a {
    margin: 0.2rem;
}

/* Estilo para seções gerais */
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

/* Estilo para o cadastro */
.cadastro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CBDCEB;
}

#logo-red-senha {
    width: 20%;
    height: 40%;
}

/* Estilo para a seção "Esqueceu a senha?" */
.esqueceu_senha {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBDCEB;
}

#but-red-senha {
    width: 30%;
}

.red-senha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Estilo para o separador horizontal (hr) */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Estilo para o container de feedback */
.feedback {
    display: flex;
}

/* Estilo para o menu de navegação */
.menu_suspenso {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Estilo para os links de navegação */
a {
    font-family: "Merriweather", serif;
    text-decoration: none;
    color: #608BC1;
    font-size: 1rem;
}

/* Estilo para os itens do menu de navegação */
.li {
    display: inline;
    margin-right: 10px;
    padding: 30px;
}

/* Estilo para a busca */
#buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

/* Estilo para o texto informativo */
.auxiliar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o texto principal */
.texto {
    padding: 10%;
    margin-left: 2%;
    margin-right: 30%;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

/* Estilo para a área de feedback */
.feedback {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

/* Estilo para o título de feedback */
.titulo-feedback h1 {
    float: left;
}

/* Estilo para o conteúdo de feedback */
.conteudo-feedback {
    display: flex;
    padding: 1rem;
}

/* Estilo para a busca no feedback */
.buscar {
    width: 50%;
}

/* Estilo para a seção principal da página */
.principal {
    width: 100%;
    height: 80vh;
    display: flex;
}

/* Estilo para a imagem da tela principal */
.imagem_tela_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

/* Estilo para os links com efeito de hover */
a:hover {
    color: #fa1d1d;
}

/* Estilo para as imagens na tela principal */
.imagem_tela_principal img {
    width: 65%;
    height: 100%;
}

/* Estilo para a seção secundária */
.secundaria {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

/* Estilo para o texto e serviços na seção secundária */
.texto-secundaria,
.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}

/* Estilo para o texto secundário */
.texto-secundaria {
    height: 30%;
    font-size: 1.5rem;
}

/* Estilo para os parágrafos na seção secundária */
.texto-secundaria p {
    font-family: "Signika Negative", sans-serif;
    text-align: justify;
}

/* Estilo para os serviços na seção secundária */
.servicos {
    height: 60%;
}

/* Estilo para o rodapé */
footer {
    display: flex;
    min-height: 50px;
    margin-top: auto;
    color: rgb(255, 255, 255);
    background: #608BC1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Estilo para o título de informações */
.titulo_info {
    background-color: #608BC1;
}

/* Estilo para a imagem do login */
.imglogin {
    width: 8rem;
    border-radius: 50%;
}

/* Estilo para a imagem de login */
#imglogin {
    width: 100%;
    height: 15vh;
}

/* Estilo para o container de login */
.container-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilo para a página principal do login */
main {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilo para o título principal na página de login */
h1 {
    font-size: 2rem;
    margin: 2rem;
    font-family: "Signika Negative", sans-serif;
}

/* Estilo para as informações do perfil */
.info-de-perfil p {
    margin: 1.5rem;
    width: 35%;
}

.info-de-perfil {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-de-perfil ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.info-de-perfil ul li {
    width: 80%;
    height: 20%;
    display: flex;
    border: 1px solid black;
}

.img-perfil {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 10%;
}

#foto-servico {
    width: 100%;
    height: 10%;
}

.prof-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

/* Estilo para a página "esqueceu a senha?" */
.container-esqueceu-senha {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.categorias ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorias ul li {
    margin: 1rem;
    padding: 1rem;
    height: 30%;
    border: 1px solid black;
    border-radius: 1rem;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}