/* Estilo para a descrição */
.descricao {
    border: 1px solid black;
    width: 90%;
    height: 35vh;
    display: flex;
    font-size: 1.5rem;
}

/* Estilo para a seção */
section {
    width: 100%;
}

/* Estilo para o título e h1 */
.titulo_info, h1 {
    text-decoration: none;
    color: #608BC1;
    font-size: 5rem;
    text-align: center;
}

/* Reset de estilo para todos os elementos */
* {
    background-color: #CBDCEB;
    margin: 5rem;
}

/* Estilo para o link "voltar" */
.voltar a {
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #608BC1;
    font-size: 1.5rem;
}
