*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 8rem;
    border-radius: 50%;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

}

section{
    width: 100%;
}